.login-container, .cadastro-container, .perfil-container {
  max-width: 500px;
  margin: 4rem auto;
  padding: 2.5rem;
  background-color: var(--bg-color-light);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color-bright);
}

form > div {
  margin-bottom: 1.5rem;
}

button[type="submit"] {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

p {
  text-align: center;
}

/* Para o checkbox LGPD na tela de cadastro */
input[type="checkbox"] {
  width: auto;
  margin-right: 0.5rem;
  display: inline-block;
}

label[for="aceite_lgpd"] {
  display: inline-block;
  font-weight: normal;
}
